/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
* {
  box-sizing: border-box; }

body {
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  background-color: #fff;
  font-family: sans-serif;
  color: white; }

a {
  color: #c00; }

.title {
  width: 100px; }

.movie-player {
  height: 360px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; }
  .movie-player[data-mode="normal"] .array-movie {
    display: block; }
    .movie-player[data-mode="normal"] .array-movie .original-movie {
      display: none; }
  .movie-player[data-mode="compare"] {
    height: 720px; }
    .movie-player[data-mode="compare"] .array-movie {
      display: block; }
      .movie-player[data-mode="compare"] .array-movie .item-movie {
        display: block; }
  .movie-player[data-mode="overlay"] .array-movie {
    display: block;
    position: relative;
    width: 640px;
    height: 380px; }
    .movie-player[data-mode="overlay"] .array-movie .item-movie {
      display: block;
      position: absolute;
      left: 0;
      top: 0; }
    .movie-player[data-mode="overlay"] .array-movie .area-movie {
      z-index: 1;
      background-color: transparent !important; }
    .movie-player[data-mode="overlay"] .array-movie .original-movie {
      z-index: 0; }

.array-movie {
  background-color: #000; }
  .array-movie:after {
    /* clearfix */
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

.area-movie {
  position: relative;
  float: left;
  width: 640px;
  height: 360px; }
  .area-movie .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    cursor: pointer; }
    .area-movie .cover .icon-play {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
      margin-top: -50px;
      font-size: 100px;
      color: red; }

.original-movie {
  position: relative;
  float: left;
  width: 640px;
  height: 360px; }
  .original-movie .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/img/cover.svg");
    background-size: 450px;
    background-position: 50% 80%;
    background-repeat: no-repeat; }
  .original-movie[data-show="true"] .cover {
    background: none; }

.svg-canvas .svg-canvas__main {
  fill: none;
  stroke: transparent;
  stroke-width: 1px; }
  .svg-canvas .svg-canvas__main .white {
    fill: white; }
  .svg-canvas .svg-canvas__main .aira {
    fill: red; }
  .svg-canvas .svg-canvas__main .shima {
    fill: blue; }
  .svg-canvas .svg-canvas__main .hana {
    fill: yellow; }

.audio {
  width: 500px; }

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden; }
  .info .block-info {
    font-size: 10px;
    color: rgba(224, 224, 224, 0.8); }
    .info .block-info sub {
      vertical-align: sub;
      font-size: smaller; }
    .info .block-info li {
      white-space: nowrap; }

.group-controller, .link-original-movie, .link-author-home {
  text-shadow: 1px 1px 0 #000;
  /*background-color: rgba(0, 0, 0, 0.5);*/ }

.group-controller {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear 0s; }
  .group-controller[data-is-hidden="true"] {
    opacity: 0;
    visibility: hidden; }

.controller-card {
  position: absolute;
  left: 19px;
  top: 140px;
  width: 600px;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.3); }
  .controller-card [data-actions] {
    padding: 0; }
  .controller-card .controller-panel {
    padding: 20px; }
  .controller-card .controller-max-freq .slider,
  .controller-card .controller-thickness .slider {
    display: inline-block;
    width: 200px; }
  .controller-card .controller-max-freq .textfield,
  .controller-card .controller-thickness .textfield {
    display: inline-block;
    padding: 0;
    width: 100px; }
  .controller-card .switch-equation {
    margin-left: 20px;
    width: 100px; }

.tab-character [data-tab-bar] {
  justify-content: flex-start; }

.global-footer {
  padding-top: 10px;
  padding-bottom: 30px; }
  .global-footer .link-list {
    padding: 0;
    list-style: none;
    font-size: 0; }
    .global-footer .link-list .link-item {
      display: inline-block; }
      .global-footer .link-list .link-item + .link-item {
        margin-left: 10px; }
    .global-footer .link-list .list-sns {
      display: inline-block;
      padding-top: 5px;
      font-size: 0; }
      .global-footer .link-list .list-sns .link-item[data-sns="facebook"] span {
        vertical-align: baseline !important; }
    .global-footer .link-list .link-original-movie {
      margin-left: 10px;
      padding-top: 10px;
      vertical-align: top;
      font-size: 14px; }
  .global-footer .block-author .link-author-home {
    font-size: 14px; }
    .global-footer .block-author .link-author-home a {
      display: inline-block;
      margin: 0;
      margin-left: 10px; }

/* video container */
.movie-player {
  width: 640px;
  position: relative;
  overflow: hidden;
  background: #000;
  color: #ccc;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto; }
  .movie-player [data-elm="video"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px; }
  .movie-player:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3);
    z-index: 6;
    border-radius: 6px;
    pointer-events: none; }

/* video caption css */
.caption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius: 6px 6px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control {
  color: #ccc;
  position: absolute;
  top: 320px;
  left: 10px;
  width: 620px;
  z-index: 5; }

/* control bottom part */
.btmControl {
  clear: both; }

.control .btnPlay {
  float: left;
  width: 34px;
  height: 30px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 6px 0 0 6px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5); }

.control .icon-play {
  background: url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat -11px 0;
  width: 6px;
  height: 9px;
  display: block;
  margin: 4px 0 0 8px; }

.control .icon-pause {
  background: url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat -34px -1px;
  width: 8px;
  height: 9px;
  display: block;
  margin: 4px 0 0 8px; }

.control .selected {
  font-size: 15px;
  color: #ccc; }

.control .sound {
  width: 30px;
  height: 30px;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.control .icon-sound {
  background: url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat -19px 0;
  width: 13px;
  height: 10px;
  display: block;
  margin: 8px 0 0 8px; }

.control .muted .icon-sound {
  width: 7px !important; }

.control .btnFS {
  width: 30px;
  height: 30px;
  border-radius: 0 6px 6px 0;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5); }

.control .icon-fullscreen {
  background: url(https://s.cdpn.io/6035/vp_sprite.png) no-repeat 0 0;
  width: 10px;
  height: 10px;
  display: block;
  margin: 8px 0 0 9px; }

/* PROGRESS BAR CSS */
/* Progress bar */
.progress-bar {
  height: 30px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: none;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
  float: left; }

.progress {
  width: 500px;
  height: 7px;
  position: relative;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  /* fallback */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px black;
  border-radius: 10px; }

.progress span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 10px; }

.timeBar {
  z-index: 10;
  width: 0;
  background: -webkit-linear-gradient(top, #6bcce2 0%, #1da3d0 100%);
  box-shadow: 0 0 7px rgba(107, 204, 226, 0.5); }

.bufferBar {
  z-index: 5;
  width: 0;
  background: rgba(255, 255, 255, 0.2); }

/* VOLUME BAR CSS */
/* volume bar */
.volume {
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 10px;
  float: right;
  margin-top: 10px;
  margin-right: 10px; }

.volumeBar {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  z-index: 10; }

@media (min-width: 1025px) {
  .main-content {
    padding-top: 50px;
    padding-bottom: 50px; }
    .global-footer {
      padding-top: 10px;
      padding-bottom: 40px; } }

@media (max-width: 1024px) {
        .global-footer .link-list .link-original-movie {
          display: block;
          margin-left: 0; } }
