body {
  // 文字サイズの自動調整を無効にする
  text-size-adjust: 100%;

  background-color: #fff;

  color: white;
}

a {
  color: #c00;
}

.title {
  color: #000;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 0 #f66, -1px -1px 0 #fff;
  margin: 10px 10px 30px;
}

.wrapper {
  > .heading {
    position: absolute;
    width: 4em;
    height: 1em;
    left: 220px;
    top: 30px;

    margin: 0;
    line-height: 1;

    font-family: "Roboto", sans-serif;

    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

.link-get-source {
  position: absolute;
  left: 450px;
  top: 0;

  margin: 0;
  padding: 0;
  font-size: 0;
}

.array-movie {
  background-color: #000;

  &:after {
    /* clearfix */
    content: "."; 
    display: block; 
    height: 0; 
    font-size: 0;  
    clear: both; 
    visibility: hidden;
  }

  &[data-mode="normal"] {
    display: block;

    .original-movie {
      display: none;
    }
  }

  &[data-mode="compare"] {
    display: block;

    .item-movie {
      display: block;
    }
  }

  &[data-mode="overlay"] {
    display: block;
    position: relative;
    width: 640px;
    height: 380px;

    .item-movie {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    .area-movie {
      z-index: 1;
    }

    .original-movie {
      z-index: 0;
    }
  }
}

.area-movie {
  position: relative;
  float: left;
  width: 660px;
  height: 380px;
}

.original-movie {
  position: relative;
  float: left;
  width: 640px;
  height: 360px;

  &::after {
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }
}

.svg-canvas {
  .svg-canvas__main {
    fill: none;
    stroke: transparent;
    stroke-width: 1px;

    .white {
      fill: white;
    }

    .aira {
      fill: red;
    }

    .shima {
      fill: blue;
    }

    .hana {
      fill: yellow;
    }
  }
}

.audio {
  width: 500px;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  overflow: hidden;

  .block-info {
    font-size: 10px;
    color: rgba(224, 224, 224, 0.8);

    sub {
      vertical-align: sub;
      font-size: smaller;
    }

    li {
      white-space: nowrap;
    }
  }
}

.group-controller, .link-original-movie, .link-author-home {
  text-shadow: 1px 1px 0 #000;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}

.controller-card {
  margin-top: 20px;

  width: 550px;
}

.list-share {
  margin-top: 10px;
  padding: 0;

  list-style: none;

  font-size: 0;

  .item {
    display: inline-block;
    vertical-align: top;

    + .item {
      margin-left: 10px;
    }
  }
}

.link-original-movie {
  font-size: 14px;
}

.link-author-home {
  font-size: 14px;
}