* {
  box-sizing: border-box;
}

body {
  // 文字サイズの自動調整を無効にする
  text-size-adjust: 100%;

  background-color: #fff;

  color: white;
}

a {
  color: #c00;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.movie-player {
  height: 360px;

  &[data-mode="normal"] {
    .array-movie {
      display: block;

      .original-movie {
        display: none;
      }
    }
  }

  &[data-mode="compare"] {
    height: 720px;

    .array-movie {
      display: block;

      .item-movie {
        display: block;
      }
    }
  }

  &[data-mode="overlay"] {
    .array-movie {
      display: block;
      position: relative;
      width: 640px;
      height: 380px;

      .item-movie {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }

      .area-movie {
        z-index: 1;

        background-color: transparent !important;
      }

      .original-movie {
        z-index: 0;
      }
    }
  }
}

.array-movie {
  background-color: #000;

  &:after {
    /* clearfix */
    content: "."; 
    display: block; 
    height: 0; 
    font-size: 0;  
    clear: both; 
    visibility: hidden;
  }
}

.area-movie {
  position: relative;
  float: left;
  width: 640px;
  height: 360px;
}

.original-movie {
  position: relative;
  float: left;
  width: 640px;
  height: 360px;

  &::after {
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }
}

.svg-canvas {
  .svg-canvas__main {
    fill: none;
    stroke: transparent;
    stroke-width: 1px;

    .white {
      fill: white;
    }

    .aira {
      fill: red;
    }

    .shima {
      fill: blue;
    }

    .hana {
      fill: yellow;
    }
  }
}

.audio {
  width: 500px;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  overflow: hidden;

  .block-info {
    font-size: 10px;
    color: rgba(224, 224, 224, 0.8);

    sub {
      vertical-align: sub;
      font-size: smaller;
    }

    li {
      white-space: nowrap;
    }
  }
}

.group-controller, .link-original-movie, .link-author-home {
  text-shadow: 1px 1px 0 #000;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}

.group-controller {
  position: absolute;

  left: 0;
  top: 0;
}

.controller-card {
  position: absolute;

  left: 19px;
  top: 150px;

  width: 600px;
  min-height: 150px;

  background-color: rgba(255, 255, 255, 0.3);

  [data-actions] {
    padding: 0;
  }

  .controller-panel {
    padding: 20px;
  }
}

.tab-character {
  [data-tab-bar] {
    justify-content: flex-start;
  }
}

.global-footer {
  padding-top: 10px;
  padding-bottom: 15px;

  @include mq-large {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .link-list {
    padding: 0;

    list-style: none;

    font-size: 0;

    .link-item {
      display: inline-block;

      + .link-item {
        margin-left: 10px;
      }
    }

    .list-sns {
      display: inline-block;

      padding-top: 5px;

      font-size: 0;

      .link-item {
        &[data-sns="facebook"] {
          span {
            vertical-align:baseline !important;
          }
        }
      }
    }

    .link-original-movie {
      margin-left: 10px;
      padding-top: 10px;

      vertical-align: top;

      font-size: 14px;

      @include mq-small {
        display: block;

        margin-left: 0;
      }
    }
  }

  .block-author {
    .link-author-home {
      font-size: 14px;

      a {
        display: inline-block;
        margin: 0;
        margin-left: 10px;
      }
    }
  }
}
